/* @import './base.css'; */

:root {
  font-family: sans-serif, Roboto;
  font-size: 16px;
  --white: #FFFFFF;
  --dark-grey: #27272A;
  --primary-green: #10B981;
  --active-green: #059669;
  --light-grey: #F4F4F5;
  --grey: #D4D4D8;
  --black: #1E1E1E;
  --red: #F87171;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}